.z-tooltip {
  position: relative;
  display: inline-block;
  &.is-visible,
  &:not(.is-visible):not(.is-disabled):hover {
    >.z-tooltip__arrow,
    >.z-tooltip__popper {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__arrow {
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border-top: 10px solid rgba(0, 0, 0, 0.6);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    pointer-events: none;
  }
  &__popper {
    position: absolute;
    left: 50%;
    top: -16px;
    transform: translate(-50%, -100%);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 10px 14px;
    white-space: pre;
    font-size: 14px;
    color: $--color-white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    pointer-events: none;
    display: flex;
    align-items: center;
  }
  &.at-top-left>.z-tooltip__popper {
    left: 0;
    transform: translate(0, -100%);
  }
  &.at-top-right>.z-tooltip__popper {
    left: unset;
    right: 0;
    transform: translate(0, -100%);
  }
  &.at-bottom-left>.z-tooltip__arrow,
  &.at-bottom>.z-tooltip__arrow,
  &.at-bottom-right>.z-tooltip__arrow {
    border-bottom: 10px solid rgba(0, 0, 0, 0.6);
    border-top: 0;
    top: unset;
    bottom: -6px;
    transform: translate(-50%, 100%);
  }
  &.at-bottom-left>.z-tooltip__popper {
    left: 0;
    top: unset;
    bottom: -16px;
    transform: translate(0, 100%);
  }
  &.at-bottom>.z-tooltip__popper {
    top: unset;
    bottom: -16px;
    transform: translate(-50%, 100%);
  }
  &.at-bottom-right>.z-tooltip__popper {
    left: unset;
    right: 0;
    top: unset;
    bottom: -16px;
    transform: translate(0, 100%);
  }
  &.at-left-top>.z-tooltip__arrow,
  &.at-left>.z-tooltip__arrow,
  &.at-left-bottom>.z-tooltip__arrow {
    left: -6px;
    top: 50%;
    border-left: 10px solid rgba(0, 0, 0, 0.6);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 0;
    transform: translate(-100%, -50%);
  }
  &.at-left-top>.z-tooltip__popper {
    left: -16px;
    top: 0;
    transform: translate(-100%, 0);
  }
  &.at-left>.z-tooltip__popper {
    left: -16px;
    top: 50%;
    transform: translate(-100%, -50%);
  }
  &.at-left-bottom>.z-tooltip__popper {
    left: -16px;
    top: unset;
    bottom: 0;
    transform: translate(-100%, 0);
  }
  &.at-right-top>.z-tooltip__arrow,
  &.at-right>.z-tooltip__arrow,
  &.at-right-bottom>.z-tooltip__arrow {
    left: unset;
    right: -6px;
    top: 50%;
    border-right: 10px solid rgba(0, 0, 0, 0.6);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 0;
    transform: translate(100%, -50%);
  }
  &.at-right-top>.z-tooltip__popper {
    left: unset;
    right: -16px;
    top: 0;
    transform: translate(100%, 0);
  }
  &.at-right>.z-tooltip__popper {
    left: unset;
    right: -16px;
    top: 50%;
    transform: translate(100%, -50%);
  }
  &.at-right-bottom>.z-tooltip__popper {
    left: unset;
    right: -16px;
    top: unset;
    bottom: 0;
    transform: translate(100%, 0);
  }
  &+.z-tooltip {
    margin-left: 10px;
  }
}